            body {
                font-size: 16px;
                font-family: Candara, Trebuchet MS, Arial, Sans-serif;
                background-color: #b1b1b1;
                text-align: center;
            }
            * {
                box-sizing: border-box;
            }
            .container {
                max-width: 1200px;
                width: 100%;
                margin: 15px auto;
                background: #ffffff;
                padding: 25px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            img {
                max-width: 100%;
                display: block;
                margin: 10px auto;
            }
            .nav ul {
                list-style-type: none;
                border-top: solid black 1.5px;
                border-bottom: solid black 1.5px;
                max-width: 40%;
                margin: 25px auto;
                padding: 0;
                overflow: hidden;
                /*background-color: #DCDCDC;*/
            }
            .nav li {
                display: inline;
                padding: 0px 20px 0px 20px;
            }
            .nav li a {
                display: inline;
                color: #000000;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            .nav li a:hover {
                background-color: #C0C0C0;
                font-weight: bold;
            }
            .nav .active {
                /*background-color: #C0C0C0;*/
                font-weight: bolder;
            }
            h1 {
                font-size: 2.5em;
                font-weight: bold;
                padding: 15 0 15 0;
            }
            h2 {
                font-size: 2em;
                font-weight: bold;
                padding-top: 5px;
            }
            h3 {
                font-size: 1.5em;
                font-weight: bold;
                margin: .75em;
            }
            h4 {
                font-size: 1.25em;
                font-weight: normal;
                margin: .75em;
            }
            table {
                border: none;
                max-width: 90%;
                display: block;
                margin: 10px auto;
            }
            td {
                width: 40%;
                text-align: left;
                vertical-align: top;
                padding: 3px 3px 3px 3px;
            }
            .services {
                text-align: left;
                font-size: 1.25em;
                padding-top: 20px;
            }
            .contact {
                text-align: center;
                font-size: 1.25em;
                padding-top: 20px;
            }
            .contact ul {
                list-style-type: none;
                border-top: solid black 1.5px;
                border-bottom: solid black 1.5px;
                max-width: 40%;
                margin: 25px auto;
                padding: 0;
                overflow: hidden;
                /*background-color: #DCDCDC;*/
            }
            .contact li {
                display: inline;
                padding: 0px 20px 0px 20px;
            }
            .contact li a {
                display: inline;
                color: #000000;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            .contact li a:hover {
                background-color: #C0C0C0;
                font-weight: bold;
            }
            .contact .active {
                /*background-color: #C0C0C0;*/
                font-weight: bolder;
            }
            .email a {
                display: inline;
                color: #000000;
                border-top: solid black 1.5px;
                border-bottom: solid black 1.5px;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            .email a:hover {
                background-color: #C0C0C0;
                font-weight: bold;
            }
