body {
    font-size: 16px;
    font-family: Candara, Trebuchet MS, Arial, Sans-serif;
    background-color: #b1b1b1;
    /* Still toying around with a background image for texture*/
    /*background-image: image(asanoha-400px/asanoha-400px.png);
    background-repeat: repeat-x;*/
}

*{
    box-sizing: border-box;
}

.main {
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 15px auto;
    background: #ffffff;
    padding: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.standout {
    font-size: 1.75em;
}

img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}

h3 {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.services {
    font-size: 1.25em;
}

#details {
    margin-left: 20px;
}

.accent {
    font-style: italic;
}

#contact {
    display: block;
    width: 100%;
}

table {
    margin-left: 10px;
}

/*table {
    border-collapse: collapse;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 10px;

}

td {
    background-color: #08594F;
    color: white;
    padding: 20px;
    border: 10px solid white;

}

.left {
    text-align: left;
    width: 30%;
}

.center {
    text-align: center;
    width: 30%;
}

.right {
    text-align: right;
    width: 30%;
}*/

a {
    color: #000000;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #08594F;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #4a4949;
}

